// Reset CSS
@import "reset.scss";



$anim: all 0.3s ease;



@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}

@mixin container ($mw, $p) {
	        // $mw + (padding left, right)
	max-width: $mw + 40px;
	width: 100%;
	margin: 0 auto;
	padding: $p 20px 0 20px;
}



body {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	@include font(16px, 19px);

	background: #111827;	
}

h1 {
	@include font(80px, 94px);
	font-style: italic;
	font-weight: 500;
}
h2 {
	@include font(40px, 47px);
}
h3 {
	@include font(32px, 38px);
}
h4 {
	@include font(20px, 23px);
	font-weight: 500;
}
h5 {
	@include font(20px, 23px);
}

@media (max-width: 575.5px) {
	h1 {
		@include font(40px, 47px);
	}
	h3 {
		@include font(20px, 23px);
	}
}



.header {
	position: fixed;
	z-index: 100;

	width: 100%;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
	backdrop-filter: blur(5px);	

	&__container {
		position: relative;

		width: 100%;
		max-width: 1366px;
		margin: 0 auto;
		padding: 24px 20px;
	}

	&__menu {
		ul {
			@include flex(flex, row, 10px, center, flex-end);

			li {

				a {
					display: inline-block;
					padding: 4.5px 16px;

					@include font(20px, 23px);
					color: #fff;

					border-radius: 50px;
					transition: $anim;
				}
			}
		}
	}

	&__burger {
		position: relative;

		@include flex(flex, row, 0px, center, center);
		display: none;
		width: 30px;
		height: 30px;

		background: transparent;

		svg:nth-child(1) {
			width: 30px;
			height: 20px;
		}
		svg:nth-child(2) {
			display: none;

			width: 20px;
			height: 20px;
		}
	}
}

@media (hover: hover) {
	.header {
		&__menu {
			ul {
				li {
					a:hover {
						background: #2C66C3;
					}
				}
			}
		}
	}
}
@media (max-width: 575.5px) {
	.header {
		&__menu {
			position: absolute;
			top: -500px;
			left: 105vw;

			//display: none;
			width: 100%;
			padding: 80px 0;

			background: #1E293B;
			transition: opacity 0.4s ease-out, 
						visibility 0.4s ease-out,
						left 0.4s ease-out,
						top 0.4s ease-out,
						border-radius 0.5s linear;
			border-radius: 0 0 0 100%;

			overflow: hidden;
			opacity: 0;
			visibility: hidden;

			ul {
				flex-direction: column;
				gap: 40px;

				li {
					a {
						padding: 0;

						@include font(40px, 47px);

						border-radius: 0;
						background: transparent !important;
					}
				}
			}
		}

		&__container {
			@include flex(flex, row, 0px, center, flex-end);
			padding: 20px;

			&_open-burger {

				.header__menu {
					top: 0;
					left: 0;

					border-radius: 0;

					visibility: visible;
					opacity: 1;
				}

				.header__burger {
					svg:nth-child(1) {
						display: none;
					}
					svg:nth-child(2) {
						display: inline-block;
					}
				}
			}
		}

		&__burger {
			display: flex;
		}
	}
}



.main {
	padding: 80px 0 200px 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 70px 0 60px 0;
	}
}



.home {

	&__container {
		@include container(742px, 20px);
		@include flex(flex, row, 60px, center, center);
	}

	&__left {
		text-align: right;

		&-hello {
			position: relative;

			display: inline-block;
			padding: 0 80px 0 0;

			&:before {
				content: "";

				position: absolute;
				top: -1px;
				left: -40px + -17px;

				display: inline-block;
				width: 40px;
				height: 40px;

				background: url("../img/hello.svg") no-repeat;
				background-size: 100% 100%;
			}
		}

		&-name {
			position: relative;

			padding: 15px 80px 35px 0;

			&:after {
				content: '[ Oleksandr ]';

				position: absolute;
				bottom: 20px;
				right: 90px;

				@include font(22px, 22px);
				font-weight: 300;
				font-style: normal;
			}
		}
		&-code {
			color: #2CB67D;
		}
	}	

	&__right {

		img {
			width: 300px;
		}
	}
}

@media (max-width: 785px) {
	.home {
		&__container {
			gap: 45px;
		}
	}
}
@media (max-width: 767.5px) {
	.home {

		&__container {

			padding-top: 40px;
			flex-direction: column;
			gap: 80px;
		}

		&__left {

			&-hello {
				padding: 0 95px 0 0;
			}
		}
	}
}
@media (max-width: 575.5px) {
	.home {

		&__container {

			padding-top: 20px;
			gap: 40px;
		}

		&__left {

			&-hello {
				padding: 0 62px 0 0;

				&:before {
					top: 0;
					left: -10px + -23px;

					width: 23px;
					height: 23px;
				}
			}

			&-name {
				padding: 10px 65px 31px 0;

				&:after {
					bottom: 15px;
					right: 65px;

					@include font(16px, 16px);
					font-weight: 300;
					font-style: normal;
				}
			}
		}

		&__right {

			img {
				width: 200px;
			}
		}
	}
}



.title-content {
	@include flex(flex, column, 20px, center, center);

	& > h2 {
		position: relative;

		padding: 0 0 15px 0;

		&:after {
			content: "";

			position: absolute;
			bottom: 0;
			left: calc(50% - 62px);

			display: inline-block;
			width: 124px;
			height: 10px;

			background: #2C66C3;
			box-shadow: 0px 0px 14px rgba(44, 102, 195, 0.5);
			border-radius: 50px;
		}
	}
}



.projects {

	&__container {
		@include container(820px, 40px);
	}

	&__items {
		@include flex(flex, row, 20px, flex-start, flex-start);
		flex-wrap: wrap;
	}

	&__item {
		width: calc(50% - 10px);

		background: #444444;
		border-radius: 15px;

		cursor: pointer;

		overflow: hidden;

		img {
			position: relative;

			width: 100%;
			height: 200px;

			object-fit: cover;
			object-position: top;

			transition: $anim;
		}

		&-title {
			position: relative;

			padding: 14px 10px 8px 40px;
			background: #293548;

			font-size: 0;
			line-height: 0;

			&:before {
				content: "";

				position: absolute;
				bottom: 18px;
				left: 11px;

				display: inline-block;
				width: 18px;
				height: 12.5px;

				background: url("../img/eye.svg") no-repeat;
				background-size: 100% 100%;
			}

			h5 {
				position: relative;

				display: inline-block;
				padding: 0 0 5px 0;

				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;

				&:after {
					content: "";

					position: absolute;
					bottom: 0px;
					left: -50%;

					display: inline-block;
					height: 1px;
					width: 100%;

					background: #fff;
					transform: scale(0, 1);

					opacity: 0;

					transition: $anim;
				}
			}
		}	
	}
}

@media (hover: hover) {
	.projects {
		&__item:hover {

			img {
				transform: scale(1.05);
			}

			h5 {
				&:after {
					left: 0;

					transform: scale(1, 1);

					opacity: 1;
				}
			}
		}
	}
}

@media (max-width: 767.5px) {
	.projects {
		&__items {
			gap: 15px;
		}
		&__item {
			
			img {
				height: 150px;
			}

			&-title {
				padding: 8px 10px 4px 40px;

				&:before {
					bottom: 13px;
				}

				h5 {
					padding: 0 0 3px 0;
				}
			}
		}
	}
}

@media (max-width: 575.5px) {
	.projects {
		&__items {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			width: 100%;
		}
		&__item {
			width: 100%;
			max-width: 400px;
			
			img {
				height: 185px;
			}

			&-title {
				padding: 8px 10px 4px 40px;

				&:before {
					bottom: 13px;
				}

				h5 {
					padding: 0 0 3px 0;
				}
			}
		}
	}
}



.project-popup {
	position: fixed;
	z-index: 200;

	@include flex(flex, row, 0, center, center);
	width: 100%;
	height: 100%;
	padding: 0 20px;

	background: rgba(0, 0, 0, 0.5);

	transition: all 0.3s ease;

	opacity: 0;
	visibility: hidden;

	&__container {
		position: relative;

		width: 100%;
		max-width: 800px;
		padding: 20px 50px;

		background: #1E293B;
		border-radius: 12px;
		transform: scale(0);

		transition: all 0.3s ease;

		

		h3 {
			margin: 10px 0 5px 0;

			text-align: center;
		}

		p {
			height: 5 * 19px;

			-webkit-line-clamp: 5;
		    display: -webkit-box; 
		    -webkit-box-orient: vertical; 
		    overflow: hidden;
		}
	}

	&__image {
		position: relative;

		padding: 0 40px;
	}
	&__image-swiper {
		width: 100%;
		height: 300px;
	}
	&__image-slide {

		background: url("../img/loading.gif") no-repeat, #444444;
		background-position: center;
		background-size: 100px;

		overflow-y: auto;

		a {
			cursor: zoom-in;
		}

		img {
			width: 100%;
		}
	}
	&__swiper-pagination {
		position: absolute;
		z-index: 5;
		bottom: 0;
		left: 0;

		width: auto;
		padding: 5px;

		background: #000;
	}
	&__image-swiper-nav {
		position: absolute;
		top: calc(50% - 15px);

		width: 30px;
		height: 30px;

		border-radius: 30px;
		background: transparent;

		cursor: pointer;

		transition: $anim;

		&:before,
		&:after {
			content: "";

			position: absolute;
			left: 7px;

			width: 13px;
			height: 3px;

			background: #D4D7DA;
			border-radius: 3px;
		}

		&:before {
			top: 9.5px;

			transform: rotate(-45deg);
		}

		&:after {
			bottom: 9.5px;
			
			transform: rotate(45deg);
		}

		&_left {
			left: 0;
		}
		&_right {
			right: 0;

			transform: rotate(180deg);
		}

		&:disabled {
			background: transparent !important;

			cursor: auto;

			opacity: 0.3;
		}
	}

	&__btns {
		padding: 20px 20px 0 20px;
		@include flex(flex, row, 20px, center, center);
		flex-wrap: wrap;
	}
	&__btn {
		@include flex(flex, row, 0, center, center);
		width: calc(50% - 10px);
		height: 46px;

		@include font(20px, 23px);
		color: #FFF;

		background: #161B22;
		border-radius: 5px;

		transition: $anim;

		&:before {
			content: "";

			display: inline-block;
			width: 26px;
			height: 26px;
			margin: 0 10px 0 0;
		}

		&:nth-child(1):before {
			background: url("../img/github.svg") no-repeat;
			background-size: 100% 100%;
		}

		&:nth-child(2):before {
			background: url("../img/demo.svg") no-repeat;
			background-size: 100% 100%;
		}

		&_disabled {
			opacity: 0.4;
			cursor: auto;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;

		@include flex(flex, row, 0, center, center);
		width: 40px;
		height: 40px;

		border-radius: 40px;
		background: transparent;

		transition: $anim;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

@media (hover: hover) {
	.project-popup {
		&__btn:hover {
			background: #15171a;
		}
		&__btn_disabled:hover {
			background: #161B22;
		}

		&__image-swiper-nav:hover,
		&__close:hover {
			background: #293548;
		}
	}
}

@media (max-width: 767.5px) {
	.project-popup {
		&__container {
			padding: 20px 20px;
		}
		&__image-swiper {
			height: 270px;
		}
	}
}
@media (max-width: 575.5px) {
	.project-popup {
		&__container {
			padding: 30px 0 20px 0;

			h3 {
				padding: 0 20px;
				margin: 15px 0 5px 0;

				font-weight: 500;
			}

			p {
				padding: 0 20px;
			}
		}
		&__image {
			padding: 0 30px;
		}
		&__image-swiper {
			height: 170px;
		}
		&__btns {
			padding: 15px 20px 0 20px;
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 10px;
		}
		&__btn {
			width: 100%;
		}
		&__close {
			top: 0;
			right: 0;

			width: 30px;
			height: 30px;

			svg {
				width: 15px;
				height: 15px;
			}
		}
	}
}



.open-project-popup {

	.project-popup {
		opacity: 1;
		visibility: visible;

		&__container {
			transform: scale(1);
		}
	}
}