@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	font-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 100;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-100italic.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 300;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-500italic.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 700;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 900;
	src: url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900italic.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_cyrillic-ext_greek_greek-ext_latin_latin-ext_vietnamese-900italic.woff") format("woff");
}
body {
	color: #FFF;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 19px;
	background: #111827;
}

h1 {
	font-size: 80px;
	line-height: 94px;
	font-style: italic;
	font-weight: 500;
}

h2 {
	font-size: 40px;
	line-height: 47px;
}

h3 {
	font-size: 32px;
	line-height: 38px;
}

h4 {
	font-size: 20px;
	line-height: 23px;
	font-weight: 500;
}

h5 {
	font-size: 20px;
	line-height: 23px;
}

@media (max-width: 575.5px) {
	h1 {
		font-size: 55px;
		line-height: 64px;
	}
	h3 {
		font-size: 20px;
		line-height: 23px;
	}
}
.header {
	position: fixed;
	z-index: 100;
	width: 100%;
}
.header__container {
	position: relative;
	width: 100%;
	max-width: 1366px;
	margin: 0 auto;
	padding: 24px 20px;
}
.header__menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.header__menu ul li a {
	display: inline-block;
	padding: 4.5px 16px;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header__burger {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.2);
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.header__burger svg:nth-child(1) {
	width: 30px;
	height: 20px;
}
.header__burger svg:nth-child(2) {
	display: none;
	width: 20px;
	height: 20px;
}

@media (hover: hover) {
	.header__menu ul li a:hover {
		background: #2C66C3;
	}
}
@media (min-width: 575.6px) {
	.header {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
		-webkit-backdrop-filter: blur(5px);
		        backdrop-filter: blur(5px);
	}
}
@media (max-width: 575.5px) {
	.header__menu {
		position: absolute;
		top: -500px;
		left: 105vw;
		width: 100%;
		padding: 80px 0;
		background: #1E293B;
		-webkit-transition: opacity 0.4s ease-out, visibility 0.4s ease-out, left 0.4s ease-out, top 0.4s ease-out, border-radius 0.5s linear;
		transition: opacity 0.4s ease-out, visibility 0.4s ease-out, left 0.4s ease-out, top 0.4s ease-out, border-radius 0.5s linear;
		border-radius: 0 0 0 100%;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
	}
	.header__menu ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 40px;
	}
	.header__menu ul li a {
		padding: 0;
		font-size: 40px;
		line-height: 47px;
		border-radius: 0;
		background: transparent !important;
	}
	.header__container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		gap: 0px;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		padding: 5px;
	}
	.header__container_open-burger .header__menu {
		top: 0;
		left: 0;
		border-radius: 0;
		visibility: visible;
		opacity: 1;
	}
	.header__container_open-burger .header__burger {
		background: transparent;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.header__container_open-burger .header__burger svg:nth-child(1) {
		display: none;
	}
	.header__container_open-burger .header__burger svg:nth-child(2) {
		display: inline-block;
	}
	.header__burger {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}
.main {
	padding: 80px 0 0 0;
}
.main_pt60 {
	padding: 60px 0 0 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 70px 0 0 0;
	}
	.main_pt60 {
		padding: 40px 0 0 0;
	}
}
.home__container {
	max-width: 782px;
	width: 100%;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 60px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.home__left {
	text-align: right;
}
.home__left-hello {
	position: relative;
	display: inline-block;
	padding: 0 80px 0 0;
}
.home__left-hello:before {
	content: "";
	position: absolute;
	top: -1px;
	left: -57px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url("../img/hello.svg") no-repeat;
	background-size: 100% 100%;
	-webkit-animation: hello 2.2s infinite;
	        animation: hello 2.2s infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}
@-webkit-keyframes hello {
	0% {
		-webkit-transform: rotate(15deg);
		        transform: rotate(15deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(15deg);
		        transform: rotate(15deg);
	}
}
@keyframes hello {
	0% {
		-webkit-transform: rotate(15deg);
		        transform: rotate(15deg);
	}
	50% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(15deg);
		        transform: rotate(15deg);
	}
}
.home__left-name {
	position: relative;
	padding: 15px 80px 35px 0;
}
.home__left-name span {
	position: absolute;
	bottom: 20px;
	right: 90px;
	font-size: 22px;
	line-height: 22px;
	font-weight: 300;
	font-style: normal;
}
.home__left-code {
	color: #2CB67D;
}
.home__right img {
	height: 379px;
	width: 300px;
}

@media (max-width: 785px) {
	.home__container {
		gap: 45px;
	}
}
@media (max-width: 767.5px) {
	.home__container {
		padding-top: 40px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 80px;
	}
	.home__left-hello {
		padding: 0 95px 0 0;
	}
}
@media (max-width: 575.5px) {
	.home__container {
		padding-top: 20px;
		gap: 40px;
	}
	.home__left-hello {
		padding: 0 44px 0 0;
	}
	.home__left-hello:before {
		top: 0;
		left: -33px;
		width: 23px;
		height: 23px;
	}
	.home__left-name {
		padding: 10px 48px 31px 0;
	}
	.home__left-name span {
		bottom: 15px;
		right: 48px;
		font-size: 16px;
		line-height: 16px;
	}
	.home__right img {
		height: 253px;
		width: 200px;
	}
}
.title-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.title-content > h2 {
	position: relative;
	padding: 0 0 15px 0;
}
.title-content > h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(50% - 62px);
	display: inline-block;
	width: 124px;
	height: 10px;
	background: #2C66C3;
	-webkit-box-shadow: 0px 0px 14px rgba(44, 102, 195, 0.5);
	        box-shadow: 0px 0px 14px rgba(44, 102, 195, 0.5);
	border-radius: 50px;
}

.projects__container {
	max-width: 860px;
	width: 100%;
	margin: 0 auto;
	padding: 100px 20px 0 20px;
}
.projects__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 20px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.projects__item {
	width: calc(50% - 10px);
	background: #444444;
	border-radius: 15px;
	cursor: pointer;
	overflow: hidden;
}
.projects__item img {
	position: relative;
	width: 100%;
	height: 200px;
	background: url("../img/loading.gif") no-repeat;
	background-size: 100px;
	background-position: center;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: top;
	   object-position: top;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.projects__item-title {
	position: relative;
	padding: 14px 10px 8px 40px;
	background: #293548;
	font-size: 0;
	line-height: 0;
}
.projects__item-title:before {
	content: "";
	position: absolute;
	bottom: 18px;
	left: 11px;
	display: inline-block;
	width: 18px;
	height: 12.5px;
	background: url("../img/eye.svg") no-repeat;
	background-size: 100% 100%;
}
.projects__item-title h5 {
	position: relative;
	display: inline-block;
	padding: 0 0 5px 0;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.projects__item-title h5:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: -50%;
	display: inline-block;
	height: 1px;
	width: 100%;
	background: #fff;
	-webkit-transform: scale(0, 1);
	        transform: scale(0, 1);
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.projects__item_empty .projects__item-title:before {
	background: transparent;
}
.projects__item_empty .projects__item-title h5 {
	min-height: 28px;
}
.projects__btn-load-more {
	padding: 15px 50px;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
	background: #1E293B;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.projects__item:hover img {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
	.projects__item:hover h5:after {
		left: 0;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
		opacity: 1;
	}
	.projects__btn-load-more:hover {
		background: #2C66C3;
	}
}
@media (max-width: 767.5px) {
	.projects__items {
		gap: 15px;
	}
	.projects__item img {
		height: 150px;
	}
	.projects__item-title {
		padding: 8px 10px 4px 40px;
	}
	.projects__item-title:before {
		bottom: 13px;
	}
	.projects__item-title h5 {
		padding: 0 0 3px 0;
	}
	.projects__item_empty .projects__item-title h5 {
		min-height: 26px;
	}
}
@media (max-width: 575.5px) {
	.projects__container {
		padding-top: 70px;
	}
	.projects__items {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		width: 100%;
	}
	.projects__item {
		width: 100%;
		max-width: 400px;
	}
	.projects__item img {
		height: 185px;
	}
	.projects__item-title {
		padding: 8px 10px 4px 40px;
	}
	.projects__item-title:before {
		bottom: 13px;
	}
	.projects__item-title h5 {
		padding: 0 0 3px 0;
	}
}
.project-popup__image-swiper-nav,
.reviews__swiper-nav {
	position: absolute;
	top: calc(50% - 15px);
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-popup__image-swiper-nav:before, .project-popup__image-swiper-nav:after,
.reviews__swiper-nav:before,
.reviews__swiper-nav:after {
	content: "";
	position: absolute;
	left: 7px;
	width: 13px;
	height: 3px;
	background: #D4D7DA;
	border-radius: 3px;
}
.project-popup__image-swiper-nav:before,
.reviews__swiper-nav:before {
	top: 9.5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.project-popup__image-swiper-nav:after,
.reviews__swiper-nav:after {
	bottom: 9.5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.project-popup__image-swiper-nav_left,
.reviews__swiper-nav_left {
	left: 0;
}
.project-popup__image-swiper-nav_right,
.reviews__swiper-nav_right {
	right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.project-popup__image-swiper-nav:disabled,
.reviews__swiper-nav:disabled {
	background: transparent !important;
	cursor: auto;
	opacity: 0.3;
}

@media (hover: hover) {
	.project-popup__image-swiper-nav:hover,
	.reviews__swiper-nav:hover {
		background: #293548;
	}
}
.project-popup {
	position: fixed;
	z-index: 200;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.5);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
}
.project-popup__container {
	position: relative;
	width: 100%;
	max-width: 800px;
	padding: 20px 50px;
	background: #1E293B;
	border-radius: 12px;
	-webkit-transform: scale(0);
	        transform: scale(0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-popup__container h3 {
	margin: 10px 0 5px 0;
	text-align: center;
}
.project-popup__container p {
	height: 95px;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.project-popup__image {
	position: relative;
	padding: 0 40px;
}
.project-popup__image-swiper {
	width: 100%;
	height: 300px;
}
.project-popup__image-slide {
	background: url("../img/loading.gif") no-repeat, #444444;
	background-position: center;
	background-size: 100px;
	overflow-y: auto;
}
.project-popup__image-slide a {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.project-popup__image-slide img {
	width: 100%;
	min-height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.project-popup__swiper-pagination {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 0;
	width: auto;
	padding: 5px;
	background: #000;
}
.project-popup__image-swiper-nav {
	position: absolute;
	top: calc(50% - 15px);
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-popup__image-swiper-nav:before, .project-popup__image-swiper-nav:after {
	content: "";
	position: absolute;
	left: 7px;
	width: 13px;
	height: 3px;
	background: #D4D7DA;
	border-radius: 3px;
}
.project-popup__image-swiper-nav:before {
	top: 9.5px;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.project-popup__image-swiper-nav:after {
	bottom: 9.5px;
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.project-popup__image-swiper-nav_left {
	left: 0;
}
.project-popup__image-swiper-nav_right {
	right: 0;
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.project-popup__image-swiper-nav:disabled {
	background: transparent !important;
	cursor: auto;
	opacity: 0.3;
}
.project-popup__image-scroll {
	position: absolute;
	z-index: 3;
	left: 50%;
	width: 70px;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	-webkit-filter: drop-shadow(0 0 5px #000);
	        filter: drop-shadow(0 0 5px #000);
	pointer-events: none;
}
@-webkit-keyframes image-scroll {
	0% {
		top: calc(100% - 35px);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: 35px;
	}
}
@keyframes image-scroll {
	0% {
		top: calc(100% - 35px);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		top: 35px;
	}
}
.project-popup__image-scroll_animation {
	-webkit-animation: image-scroll 1.8s ease-in-out;
	        animation: image-scroll 1.8s ease-in-out;
}
.project-popup__btns {
	padding: 20px 20px 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 20px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.project-popup__btns_disabled {
	display: none;
}
.project-popup__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: calc(50% - 10px);
	height: 46px;
	font-size: 20px;
	line-height: 23px;
	color: #FFF;
	background: #161B22;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-popup__btn:before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
}
.project-popup__btn:nth-child(1):before {
	background: url("../img/github.svg") no-repeat;
	background-size: 100% 100%;
}
.project-popup__btn:nth-child(2):before {
	background: url("../img/demo.svg") no-repeat;
	background-size: 100% 100%;
}
.project-popup__btn_disabled {
	opacity: 0.4;
	cursor: auto;
}
.project-popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.project-popup__close svg {
	width: 20px;
	height: 20px;
}

@media (hover: hover) {
	.project-popup__btn:hover {
		background: #15171a;
	}
	.project-popup__btn_disabled:hover {
		background: #161B22;
	}
	.project-popup__close:hover {
		background: #293548;
	}
}
@media (max-width: 767.5px) {
	.project-popup__container {
		padding: 20px 20px;
	}
	.project-popup__image-swiper {
		height: 270px;
	}
}
@media (max-width: 575.5px) {
	.project-popup__container {
		padding: 30px 0 20px 0;
	}
	.project-popup__container h3 {
		padding: 0 20px;
		margin: 15px 0 5px 0;
		font-weight: 500;
	}
	.project-popup__container p {
		padding: 0 20px;
	}
	.project-popup__image {
		padding: 0;
	}
	.project-popup__image-swiper {
		height: 200px;
	}
	.project-popup__image-swiper-nav {
		z-index: 2;
		background: #293548;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.project-popup__image-swiper-nav_left {
		left: 3px;
	}
	.project-popup__image-swiper-nav_right {
		right: 3px;
	}
	.project-popup__image-swiper-nav:disabled {
		opacity: 0;
		visibility: hidden;
	}
	.project-popup__btns {
		padding: 15px 20px 0 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		gap: 10px;
	}
	.project-popup__btn {
		width: 100%;
	}
	.project-popup__close {
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
	}
	.project-popup__close svg {
		width: 15px;
		height: 15px;
	}
}
.open-project-popup {
	padding-right: var(--scroll-width, 0);
	overflow-y: hidden;
}
.open-project-popup .project-popup {
	opacity: 1;
	visibility: visible;
}
.open-project-popup .project-popup__container {
	margin-right: var(--scroll-width, 0);
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.open-project-popup .header {
	padding-right: var(--scroll-width, 0);
}

.skills__container {
	max-width: 790px;
	width: 100%;
	margin: 0 auto;
	padding: 100px 20px 0 20px;
}
.skills__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 10px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: inherit;
}
.skills__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 10px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	width: calc(33.333% - 7.5px);
	padding: 10px;
	border: 3px solid #293548;
	border-radius: 8px;
}
.skills__item img {
	width: 40px;
	height: 40px;
}

@media (max-width: 652px) {
	.skills__item {
		width: auto;
	}
}
@media (max-width: 575.5px) {
	.skills__container {
		padding-top: 70px;
	}
}
.reviews__container {
	max-width: 760px;
	width: 100%;
	margin: 0 auto;
	padding: 100px 20px 0 20px;
}
.reviews__items {
	position: relative;
	width: 100%;
	padding: 0 40px;
	border-bottom: 51px solid transparent;
}
.reviews__slide {
	padding: 20px 20px 15px 20px;
	background: #293548;
	border-radius: 15px;
}
.reviews__slide-top {
	padding: 0 25px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto 8px 1fr 8px auto;
	grid-template-columns: auto 1fr auto;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: left;
	    -ms-flex-pack: left;
	        justify-content: left;
}
.reviews__slide-top img {
	width: 23px;
	height: 23px;
	border-radius: 20px;
}
.reviews__slide-top h4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.reviews__slide-top h4 span {
	padding: 2px 0 0 0;
}
.reviews__slide-top h4 svg {
	width: 23px;
	height: 23px;
}
.reviews__slide > p {
	margin: 14px 0;
	font-weight: 300;
}
.reviews__slide-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.reviews__slide-bottom span, .reviews__slide-bottom a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	color: #fff;
	opacity: 0.6;
}
.reviews__slide-bottom span {
	font-style: italic;
}
.reviews__slide-bottom a {
	text-decoration: underline;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.reviews__slide_empty {
	height: 150px;
}
.reviews__swiper-pagination {
	left: 50%;
	bottom: -51px;
	padding: 6px 15px;
	width: auto;
	background: #293548;
	border-radius: 50px;
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}

@media (hover: hover) {
	.reviews__slide-bottom a:hover {
		opacity: 0.8;
	}
}
@media (max-width: 767.5px) {
	.reviews__container {
		padding-left: 0;
		padding-right: 0;
	}
	.reviews__items {
		padding: 0;
	}
	.reviews__swiper {
		padding: 0 20px;
	}
	.reviews__swiper-nav {
		display: none;
	}
}
@media (max-width: 575.5px) {
	.reviews__container {
		padding-top: 70px;
	}
	.reviews__slide {
		padding: 15px 15px 10px 15px;
	}
	.reviews__slide-top {
		padding: 0;
	}
}
.contacts__container {
	max-width: 790px;
	width: 100%;
	margin: 0 auto;
	padding: 100px 20px 0 20px;
}
.contacts__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 20px;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.contacts__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 0;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 60px;
	height: 60px;
	background: #1E293B;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.contacts__item img {
	width: 25px;
	height: 25px;
}

@media (hover: hover) {
	.contacts__item:hover {
		background: #2C66C3;
	}
}
@media (max-width: 575.5px) {
	.contacts__container {
		padding-top: 70px;
	}
	.contacts__items {
		gap: 10px;
	}
	.contacts__item {
		width: 50px;
		height: 50px;
	}
	.contacts__item img {
		width: 22px;
		height: 22px;
	}
}
.privacy__container {
	max-width: 790px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}
.privacy__text p.privacy__text-date {
	margin: 0 0 15px 0;
	font-style: italic;
	opacity: 0.7;
}
.privacy__text h4 {
	margin-top: 25px;
}
.privacy__text p, .privacy__text ul li {
	margin-top: 8px;
	font-weight: 300;
}
.privacy__text p {
	text-align: justify;
}
.privacy__text ul li:before {
	content: "· ";
}
.privacy__text a {
	color: #2C66C3;
	text-decoration: underline;
	font-weight: 400;
}

.cookies-popup {
	position: fixed;
	z-index: 1000;
	bottom: 20px;
	left: 50%;
	padding: 15px;
	max-width: 650px;
	width: calc(100% - 40px);
	background: #293548;
	border-radius: 12px;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
	        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
	-webkit-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cookies-popup__text {
	margin-bottom: 12px;
}
.cookies-popup__text p:first-child {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 17px;
	line-height: 20px;
}
.cookies-popup__text p {
	font-weight: 300;
}
.cookies-popup__text p a {
	font-weight: 400;
	color: #fff;
	text-decoration: underline;
}
.cookies-popup__text p:nth-child(3) {
	margin-top: 8px;
}
.cookies-popup__btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.cookies-popup__btns button {
	font-size: 17px;
	line-height: 20px;
	color: #fff;
}
.cookies-popup__btns button:nth-child(1) {
	text-decoration: underline;
	text-decoration-color: transparent;
	background: transparent;
	-webkit-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.cookies-popup__btns button:nth-child(2) {
	min-width: 120px;
	padding: 10px 20px;
	background: #161B22;
	border-radius: 50px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cookies-popup_close {
	-webkit-transform: translate(-50%, 80%) scale(0);
	        transform: translate(-50%, 80%) scale(0);
}

@media (hover: hover) {
	.cookies-popup__btns button:nth-child(1):hover {
		text-decoration-color: #fff;
	}
	.cookies-popup__btns button:nth-child(2):hover {
		background: #15171a;
	}
}
.footer {
	text-align: center;
}
.footer__container {
	max-width: 790px;
	width: 100%;
	margin: 0 auto;
	padding: 35px 20px 0 20px;
	padding-bottom: 60px;
}
.footer p {
	font-weight: 300;
	opacity: 0.5;
}
.footer a {
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	font-weight: 300;
	text-decoration: underline;
	opacity: 0.5;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@media (hover: hover) {
	.footer a:hover {
		opacity: 0.8;
	}
}
@media (max-width: 575.5px) {
	.footer__container {
		padding-top: 25px;
	}
}