// Reset CSS
@import "reset.scss";



$anim: all 0.3s ease;



@mixin font ($fs, $lh) {
	font-size: $fs;
	line-height: $lh;
}

@mixin flex ($f, $fd, $g, $ai, $jc) {
	display: $f;
	flex-direction: $fd;
	gap: $g;
	align-items: $ai;
	justify-content: $jc;
}



body {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	@include font(16px, 19px);

	background: #111827;	
}

h1 {
	@include font(80px, 94px);
	font-weight: 400;
}
h2 {
	@include font(40px, 47px);
}
h3 {
	@include font(32px, 38px);
}
h4 {
	@include font(20px, 23px);
	font-weight: 500;
}
h5 {
	@include font(20px, 23px);
}



.header {
	position: fixed;

	width: 100%;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
	backdrop-filter: blur(5px);	

	&__container {
		position: relative;

		width: 100%;
		max-width: 1366px;
		margin: 0 auto;
		padding: 24px 20px;
	}

	&__menu {
		ul {
			@include flex(flex, row, 10px, center, flex-end);

			li {

				a {
					display: inline-block;
					padding: 4.5px 16px;

					@include font(20px, 23px);
					color: #fff;

					border-radius: 50px;
					transition: $anim;
				}
			}
		}
	}

	&__burger {
		position: relative;

		@include flex(flex, row, 0px, center, center);
		display: none;
		width: 30px;
		height: 30px;

		background: transparent;

		svg:nth-child(1) {
			width: 30px;
			height: 20px;
		}
		svg:nth-child(2) {
			display: none;

			width: 20px;
			height: 20px;
		}
	}
}

@media (hover: hover) {
	.header {
		&__menu {
			ul {
				li {
					a:hover {
						background: #2C66C3;
					}
				}
			}
		}
	}
}
@media (max-width: 575.5px) {
	.header {
		&__menu {
			position: absolute;
			top: -500px;
			left: 105vw;

			//display: none;
			width: 100%;
			padding: 80px 0;

			background: #1E293B;
			transition: opacity 0.4s ease-out, 
						visibility 0.4s ease-out,
						left 0.4s ease-out,
						top 0.4s ease-out,
						border-radius 0.5s linear;
			border-radius: 0 0 0 100%;

			overflow: hidden;
			opacity: 0;
			visibility: hidden;

			ul {
				flex-direction: column;
				gap: 40px;

				li {
					a {
						padding: 0;

						@include font(40px, 47px);

						border-radius: 0;
						background: transparent !important;
					}
				}
			}
		}

		&__container {
			@include flex(flex, row, 0px, center, flex-end);
			padding: 20px;

			&_open-burger {

				.header__menu {
					top: 0;
					left: 0;

					border-radius: 0;

					visibility: visible;
					opacity: 1;
				}

				.header__burger {
					svg:nth-child(1) {
						display: none;
					}
					svg:nth-child(2) {
						display: inline-block;
					}
				}
			}
		}

		&__burger {
			display: flex;
		}
	}
}



.main {
	padding: 80px 0 0 0;
}

@media (max-width: 575.5px) {
	.main {
		padding: 70px 0 0 0;
	}
}