.shimmer {
	background:
		linear-gradient(90deg, #444444 25%, #5c5c5c 50%, #444444 75%);
	background-size: 200% 100%;

	animation: 1.5s shimmer linear infinite;

	@keyframes shimmer {
		to {
			background-position-x: -200%;
		}
	}
}
