@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.projects {

	&__container {
		@include container(820px, $section-gap);
	}

	&__items {
		@include flex(flex, row, 20px, flex-start, flex-start);
		flex-wrap: wrap;
	}

	&__item {
		width: calc(50% - 10px);

		background: #444444;
		border-radius: 15px;

		cursor: pointer;

		overflow: hidden;

		img {
			position: relative;

			aspect-ratio: 2 / 1;
			width: 100%;

			background: url("../img/loading.gif") no-repeat;
			background-size: 100px;
			background-position: center;

			object-fit: cover;
			object-position: top;

			transition: $anim;
		}

		&-title {
			display: flex;
			align-items: center;
			gap: 11px;

			padding: 14px 10px 8px 11px;
			background: #293548;

			svg {
				width: 18px;
				height: 12.5px;

				margin-bottom: 5px;
			}

			h5 {
				position: relative;

				display: inline-block;
				padding: 0 0 5px 0;

				white-space: nowrap;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;

				&:after {
					content: "";

					position: absolute;
					bottom: 0px;
					left: -50%;

					display: inline-block;
					height: 1px;
					width: 100%;

					background: #fff;
					transform: scale(0, 1);

					opacity: 0;

					transition: $anim;
				}
			}
		}

		@media (hover: hover) {
			&:hover {

				img {
					transform: scale(1.05);
				}

				h5 {
					&:after {
						left: 0;

						transform: scale(1, 1);

						opacity: 1;
					}
				}
			}
		}
	}

	&__btn-load-more {
		padding: 15px 50px;

		@include font(20px, 20px);
		color: #fff;

		background: #1E293B;
		border-radius: 50px;

		transition: $anim;
	}
}

@media (hover: hover) {
	.projects {
        
		&__btn-load-more:hover {
			background: #2C66C3;
		}
	}
}

@media (max-width: 767.5px) {
	.projects {
		
        &__items {
			gap: 15px;
		}

		&__item {

			&-title {
				padding: 8px 10px 4px 11px;

				svg {
					margin-bottom: 3px;
				}

				h5 {
					padding: 0 0 3px 0;
				}
			}
		}
	}
}

@media (max-width: 575.5px) {
	.projects {

		&__container {
			padding-top: $section-gap-min;
		}
        
		&__items {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			width: 100%;
		}

		&__item {
			width: 100%;
			max-width: 400px;
		}
	}
}
