@use "../../../node_modules/swiper/swiper";
@use "../../../node_modules/swiper/modules/navigation";
@use "../../../node_modules/swiper/modules/pagination";
@use "../../../node_modules/swiper/modules/virtual";

@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.reviews {

	&__container {
		@include container(720px, $section-gap);
	}

	&__items {
		position: relative;

		width: 100%;
		padding: 0 40px;

		border-bottom: 51px solid transparent;
	}

	&__slide {
		padding: 20px 20px 15px 20px;

		background: #293548;
		border-radius: 15px;

		header {
			display: grid;
			grid-template-columns: auto 1fr auto;
			gap: 8px;
			align-items: center;

			padding: 0 25px;
		
			svg {
				width: 23px;
				height: 23px;
			}
		}

		&-author {
			font-size: 20px;
			line-height: 23px;
		}

		&-rating {
			display: flex;
			align-items: center;
			gap: 8px;

			p {
				padding: 2px 0 0 0;

				font-size: 20px;
				line-height: 23px;
				font-weight: 500;
			}
		}

		& > p {
			margin: 12px 0;

			line-height: 1.5;
			font-weight: 350;
		}

		footer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			time, a {
				font-size: 14px;
				line-height: 16px;
				font-weight: 300;
				color: #fff;

				opacity: 0.6;
			}

			time {
				font-style: italic;
			}
			
			a {
				text-decoration: underline;

				transition: all 0.3s;
			}
		}
	}

	&__swiper-pagination {
		left: 50%;
		bottom: -51px;

		padding: 6px 15px;
		width: auto;
		background: #293548;
		border-radius: 50px;

		transform: translate(-50%, 0);
	}
}

@media (hover: hover) {
	.reviews {

		&__slide {

			footer {
                
				a:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

@media (max-width: 767.5px) {
	.reviews {

		&__container {
			padding-left: 0;
			padding-right: 0;
		}

		&__items {
			padding: 0;
		}

		&__swiper {
			padding: 0 20px;
		}
		.swiper-nav {
			display: none;
		}
	}
}
@media (max-width: 575.5px) {
	.reviews {
		
		&__container {
			padding-top: $section-gap-min;
		}

		&__slide {
			padding: 15px 15px 10px 15px;

			header {
				padding: 0;
			}
		}
	}
}