<section class="reviews">
    <div class="reviews__container title-content">
        
        <h2 id="reviews">Reviews</h2>

        <div class="reviews__items">
            
            <div class="reviews__swiper swiper">
                <div class="reviews__swiper-wrapper swiper-wrapper">
                    @@reviewSlides
                </div>
            </div>
            
            <div class="reviews__swiper-pagination swiper-pagination"></div>
            
            @@include('./../swiper-nav/_swiper-nav.html')
        
        </div>
    
    </div>
</section>
