@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.reviews {

	&__container {
		@include container(720px, $section-gap);
	}

	&__items {
		position: relative;

		width: 100%;
		padding: 0 40px;

		border-bottom: 51px solid transparent;
	}

	&__slide {
		padding: 20px 20px 15px 20px;

		background: #293548;
		border-radius: 15px;

		&-top {
			padding: 0 25px;
			@include grid(grid, auto 1fr auto, 8px, center, left);
		
			img {
				width: 23px;
				height: 23px;
				border-radius: 20px;
			}

			h4 {
				@include flex(flex, row, 8px, center, flex-start);

				span {
					padding: 2px 0 0 0;
				}

				svg {
					width: 23px;
					height: 23px;
				}
			}
		}

		& > p {
			margin: 14px 0;

			font-weight: 300;
		}

		&-bottom {
			@include flex(flex, row, 0, center, space-between);

			span, a {
				@include font(14px, 16px);
				font-weight: 300;
				color: #fff;

				opacity: 0.6;
			}

			span {
				font-style: italic;
			}
			
			a {
				text-decoration: underline;

				transition: $anim;
			}
		}
	}

	&__slide_empty {
		height: 150px;
	}

	&__swiper-pagination {
		left: 50%;
		bottom: -51px;

		padding: 6px 15px;
		width: auto;
		background: #293548;
		border-radius: 50px;

		transform: translate(-50%, 0);
	}
}

@media (hover: hover) {
	.reviews {

		&__slide {

			&-bottom {
                
				a:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

@media (max-width: 767.5px) {
	.reviews {

		&__container {
			padding-left: 0;
			padding-right: 0;
		}

		&__items {
			padding: 0;
		}

		&__swiper {
			padding: 0 20px;
		}
		.swiper-nav {
			display: none;
		}
	}
}
@media (max-width: 575.5px) {
	.reviews {
		
		&__container {
			padding-top: $section-gap-min;
		}

		&__slide {
			padding: 15px 15px 10px 15px;

			&-top {
				padding: 0;
			}
		}
	}
}