<section class="reviews" data-nosnippet>
    <div class="reviews__container title-content">
        
        <h2 id="reviews">Reviews</h2>

        <div class="reviews__items">
            
            <div class="reviews__swiper swiper">
                <div class="swiper-wrapper">
                    @@firstReviewSlide
                </div>
            </div>
            
            <div class="reviews__swiper-pagination swiper-pagination">
                1 / @@reviewSlideCount
            </div>
            
            @@include('./../swiper-nav/_swiper-nav.html', { "label": "review" })
        
        </div>
    
    </div>
</section>
