@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;

@use "skills__item/skills__item";


.skills {
	
    &__container {
		@include container(750px, $section-gap);
	}

	&__items {
		@include flex(flex, row, 10px, flex-start, center);
		flex-wrap: wrap;
		width: inherit;
	}
}

@media (max-width: 575.5px) {
	.skills {
		&__container {
			padding-top: $section-gap-min;
		}
	}
}
