@mixin container ($max-width, $padding-top) {
	
	$padding-inline: 20px;
	
	max-width: $max-width + calc($padding-inline * 2);
	
	margin: 0 auto;
	padding: $padding-top $padding-inline 0 $padding-inline;
}
