@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;


.project-popup {
	position: fixed;
	z-index: 200;

	@include flex(flex, row, 0, center, center);
	width: 100%;
	height: 100%;
	padding: 20px;

	background: rgba(0, 0, 0, 0.5);

	transition: all 0.3s ease;

	opacity: 0;
	visibility: hidden;

	&__container {
		position: relative;

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto auto 1fr auto;
		
		max-height: 100%;
		width: 100%;
		max-width: 800px;
		padding: 20px 50px;

		background: #1E293B;
		border-radius: 12px;
		transform: scale(0);

		transition: all 0.3s ease;

		h3 {
			margin: 10px 0 5px 0;

			text-align: center;
		}

		p {
			height: 100%;

			overflow-y: auto;
		}
	}

	&__image {
		position: relative;

		padding: 0 40px;
	}
	&__image-swiper {
		width: 100%;
		height: 300px;
	}
	&__image-slide {

		background: url("../img/loading.gif") no-repeat, #444444;
		background-position: center;
		background-size: 100px;

		overflow-y: auto;

		a {
			cursor: zoom-in;
		}

		img {
			width: 100%;
			min-height: 100%;
    		object-fit: cover;
		}
	}
	&__swiper-pagination {
		position: absolute;
		z-index: 5;
		bottom: 0;
		left: 0;

		width: auto;
		padding: 5px;

		background: #000;
	}
	&__image-scroll {
		$icon-width: 70px;

		position: absolute;
		z-index: 3;
		left: 50%;

		width: $icon-width;

		opacity: 0;
		transform: translate(-50%, -50%);
		filter: drop-shadow(0 0 5px #000);

		pointer-events: none;

		@keyframes image-scroll {
			0% {
				top: calc(100% - ($icon-width / 2));
				opacity: 0;
			}
			20% {
				opacity: 1;
			}
			80% {
				opacity: 1;
			}
			100% {
				opacity: 0;
				top: calc($icon-width / 2);
			}
		}

		&_animation {
			animation: image-scroll 1.8s ease-in-out;
		}
	}

	&__btns {
		padding: 20px 20px 0 20px;
		@include flex(flex, row, 20px, center, center);
		flex-wrap: wrap;

		&_disabled {
			display: none;
		}
	}
	&__btn {
		@include flex(flex, row, 0, center, center);
		width: calc(50% - 10px);
		height: 46px;

		@include font(20px, 23px);
		color: #FFF;

		background: #161B22;
		border-radius: 5px;

		transition: $anim;

		&:before {
			content: "";

			display: inline-block;
			width: 26px;
			height: 26px;
			margin: 0 10px 0 0;
		}

		&:nth-child(1):before {
			background: url("../img/github.svg") no-repeat;
			background-size: 100% 100%;
		}

		&:nth-child(2):before {
			background: url("../img/demo.svg") no-repeat;
			background-size: 100% 100%;
		}

		&_disabled {
			opacity: 0.4;
			cursor: auto;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;

		@include flex(flex, row, 0, center, center);
		width: 40px;
		height: 40px;

		border-radius: 40px;
		background: transparent;

		transition: $anim;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}

@media (hover: hover) {
	.project-popup {
		&__btn:hover {
			background: #15171a;
		}
		&__btn_disabled:hover {
			background: #161B22;
		}
		&__close:hover {
			background: #293548;
		}
	}
}

@media (max-width: 767.5px) {
	.project-popup {
		&__container {
			padding: 20px 20px;
		}
		&__image-swiper {
			height: 270px;
		}
	}
}
@media (max-width: 575.5px) {
	.project-popup {
		&__container {
			padding: 30px 0 20px 0;

			h3 {
				padding: 0 20px;
				margin: 15px 0 5px 0;

				font-weight: 500;
			}

			p {
				padding: 0 20px;
			}
		}
		&__image {
			padding: 0;
		}
		&__image-swiper {
			height: 200px;
		}
		.swiper-nav {
			z-index: 2;

			background: #293548;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

			&_left {
				left: 3px;
			}
			&_right {
				right: 3px;
			}

			&:disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
		&__btns {
			padding: 15px 20px 0 20px;
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 10px;
		}
		&__btn {
			width: 100%;
		}
		&__close {
			top: 0;
			right: 0;

			width: 30px;
			height: 30px;

			svg {
				width: 15px;
				height: 15px;
			}
		}
	}
}



.open-project-popup {
	padding-right: var(--scroll-width, 0);

	overflow-y: hidden;

	.project-popup {
		opacity: 1;
		visibility: visible;

		&__container {
			margin-right: var(--scroll-width, 0);
			
			transform: scale(1);
		}
	}
	.header {
		padding-right: var(--scroll-width, 0);
	}
}
