<div class="project-popup">
    <div class="project-popup__container">

        <div class="project-popup__image">
            <div class="project-popup__image-swiper swiper">
                <div class="project-popup__image-swiper-wrapper swiper-wrapper"></div>
                <div class="project-popup__swiper-pagination"></div>
            </div>
            @@include('./../swiper-nav/_swiper-nav.html')
            <img class="project-popup__image-scroll" src="img/scroll.svg" alt="Scroll">
        </div>

        <h3>Loading...</h3>

        <p></p>

        <div class="project-popup__btns">
            <a
                class="project-popup__btn"
                href="#"
                target="_blank"
                data-umami-event="project-repository-link-click"
            >
                Repository
            </a>
            <a
                class="project-popup__btn"
                href="#"
                target="_blank"
                rel="noreferrer"
                data-umami-event="project-demo-link-click"
            >
                Demo
            </a>
        </div>

        <button class="project-popup__close">
            <svg viewBox="0 0 20 20" fill="none">
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="m2.83.32.25.2L10 7.46 16.92.53a1.8 1.8 0 0 1 2.76 2.3l-.2.25L12.54 10l6.92 6.92a1.8 1.8 0 0 1-2.3 2.76l-.25-.2L10 12.54l-6.92 6.92a1.8 1.8 0 0 1-2.76-2.3l.2-.25L7.46 10 .53 3.08A1.8 1.8 0 0 1 2.83.32"
                    fill="white"
                    fill-opacity=".8"
                />
            </svg>
        </button>

    </div>
</div>
