<section class="home" id="home">
    <div class="home__container">
        
        <div class="home__left">
            <p class="home__left-hello">
                @@include("hello.svg")
                Hello, I'm
            </p>
            <div class="home__left-name">
                <h1>ASTIK</h1>
                <p>[ Oleksandr ]</p>
            </div>
            <p class="home__left-code">&lt;&gt; Front-end Developer &lt;/&gt;</p>
        </div>

        <div class="home__right">
            @@include("home.svg")
        </div>
    
    </div>
</section>
