<section class="home" id="home">
    <div class="home__container">
        
        <div class="home__left">
            <h3 class="home__left-hello">Hello, I'm</h3>
            <div class="home__left-name">
                <h1>ASTIK</h1>
                <span>[ Oleksandr ]</span>
            </div>
            <h3 class="home__left-code">&lt;&gt; Front-end Developer &lt;/&gt;</h3>
        </div>

        <div class="home__right">
            <img src="img/home.svg" alt="Home image">
        </div>
    
    </div>
</section>
