@use "../../scss/abstracts/mixins" as *;


.home {

	&__container {
		@include container(742px, 20px);
		@include flex(flex, row, 60px, center, center);
	}

	&__left {
		text-align: right;

		&-hello {
			position: relative;

			display: inline-block;
			padding: 0 80px 0 0;

			&:before {
				content: "";

				position: absolute;
				top: -1px;
				left: -40px + -17px;

				display: inline-block;
				width: 40px;
				height: 40px;

				background: url("../img/hello.svg") no-repeat;
				background-size: 100% 100%;

				animation: hello 2.2s infinite;
				animation-timing-function: linear;

				@keyframes hello {
					0%   {transform: rotate(15deg);}
					50%  {transform: rotate(0deg);}
					100% {transform: rotate(15deg);}
				}
			}
		}

		&-name {
			position: relative;

			padding: 15px 80px 35px 0;

			span {
				position: absolute;
				bottom: 20px;
				right: 90px;

				@include font(22px, 22px);
				font-weight: 300;
				font-style: normal;
			}
		}
		&-code {
			color: #2CB67D;
		}
	}	

	&__right {

		img {
			height: 379px;
			width: 300px;
		}
	}
}

@media (max-width: 785px) {
	.home {
		&__container {
			gap: 45px;
		}
	}
}

@media (max-width: 767.5px) {
	.home {

		&__container {

			padding-top: 40px;
			flex-direction: column;
			gap: 80px;
		}

		&__left {

			&-hello {
				padding: 0 95px 0 0;
			}
		}
	}
}

@media (max-width: 575.5px) {
	.home {

		&__container {

			padding-top: 20px;
			gap: 40px;
		}

		&__left {

			&-hello {
				padding: 0 44px 0 0;

				&:before {
					top: 0;
					left: -10px + -23px;

					width: 23px;
					height: 23px;
				}
			}

			&-name {
				padding: 10px 48px 31px 0;

				span {
					bottom: 15px;
					right: 48px;

					@include font(16px, 16px);
				}
			}
		}

		&__right {

			img {
				height: 253px;
				width: 200px;
			}
		}
	}
}
