$z-index: 20;

$container-padding-top-and-bottom: 24px;
$a-padding-top-and-bottom: 4.5px;
$a-line-height: 23px;
$height:
	calc($container-padding-top-and-bottom * 2) +
	calc($a-padding-top-and-bottom * 2) +
	$a-line-height;

.header {
	position: fixed;
	z-index: $z-index;

	width: 100%;	

	background: linear-gradient(
		180deg, 
		rgba(0, 0, 0, 0.5) 0%, 
		rgba(0, 0, 0, 0) 100%, 
		rgba(0, 0, 0, 0) 100%
	);
	backdrop-filter: blur(5px);

	&__container {
		position: relative;

		width: 100%;
		max-width: 1366px;
		margin: 0 auto;
		padding: $container-padding-top-and-bottom 20px;
	}

	&__menu {
		
		ul {
			display: flex;
			gap: 10px;
			align-items: center;
			justify-content: flex-end;

			li {

				a {
					display: inline-block;
					padding: $a-padding-top-and-bottom 16px;

					font-size: 20px;
					line-height: $a-line-height;
					color: #fff;

					border-radius: 50px;
					transition: all 0.3s;
				}
			}
		}
	}
}

@media (hover: hover) {
	.header {
		&__menu {
			ul {
				li {
					a:hover {
						background: #2C66C3;
					}
				}
			}
		}
	}
}

$mobile-transition-duration: 0.3s;

@media (max-width: 575.5px) {

	.header {
		height: 100%;

		background: rgba(0, 0, 0, 0.5);

		transition: all $mobile-transition-duration;

		&:not(&_open) {
			opacity: 0;
			visibility: hidden;
		}


		&__container {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 100%;

			padding: 20px;
		}

		&__menu {
			max-height: 100%;

			padding: 25px 35px;

			border-radius: 30px;
			background: #1E293B;
			box-shadow: 0 0 25px 20px rgba(#000, 0.2);
			overflow: auto;

			transition: all $mobile-transition-duration;

			ul {
				flex-direction: column;
				gap: 15px;

				li {
					a {
						padding: 10px 15px;

						font-size: 26px;
						line-height: 1.2;
					}
				}
			}
		}
		&:not(&_open) &__menu {
			transform: scale(0);
		}
	}
}
